body{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}


.header{
    min-width: 1500px;
}

.header_top{
    position: relative;
    background-color: pink;
    height: 50px;
}

.logo{
    background: url(../img/africa_logo.svg) no-repeat left / contain;
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo a{
    display: block;
    text-indent: -9999px;
    height: 100%;
    width: 200px;
}

.search_box{
    position: absolute;
    top: 0;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
    left: 300px;
    height: 100%;
    width: 300px;
}

.seach_txt{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 15px;
}

.login_box{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100px;
    text-align: center;
    line-height: 50px;
}

.login_box span{
    font-size: 20px;
    font-weight: 600;
}

.header_btm{
    background-color: skyblue;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid;
}

.L_menu_box{
    float: left;
    margin-left: 30px;
}

.L_menu_box li{
    float: left;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.pan{
    border: 1px solid blue;
    background-color: black;
    color: #fff;
    height: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 99;
}

.L_menu_box li:hover .pan{
    display: block;
}

.R_menu_box{
    float: right;
    margin-right: 30px;
}

.R_menu_box li{
    float: left;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.R_menu_box li:hover .pan{
    display: block;
}
/* 헤더  /////////////////////////////////////////////////////////// */

.aside{
    width: 15%;
    height: 100vw;
    border-right: 1px solid;
    float: left;
}

.aside_top_ul{
    position: relative;
}

.aside li{
    /* border: 1px solid; */
    padding: 20px;
    text-align: center;
}

.h_line{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    border: 1px solid green !important;
    padding: 0 !important;
}

.main{
    width: calc((85% - 2px));
    float: right;
    height: 1000px;
}

.nav{
    width: 100%;
    overflow: hidden;
    background-color: pink;
}

.nav li{
    width: calc((100% - 1px * 3 * 2 - 1px - 2px)/3);
    float: left;
    border: 1px solid;
    height: 100px;
}

.banner{
    margin: 0 auto;
    background: url(../img/afreeca_banner.jpg) no-repeat center / contain;
    width: 1000px;
    height: 300px;
}

.menu_box_top{
    background-color: skyblue;
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 20px;
}

.menu_box_top li{
    width: calc((100% - 5px * 10) / 6);
    border: 1px solid;
    box-sizing: border-box;
    height: 80px;
    background-color: aliceblue;
    float: left;
    margin: 15px 5px 5px;
    border-radius: 20px;
    overflow: hidden;
}

.menu_box_top li:nth-child(6n){
    margin-right: 0;
}

.menu_box_top li:nth-child(1),.menu_box_top li:nth-child(7),.menu_box_top li:nth-child(13)
{
    margin-left: 0;
}

.top{
    width: 100%;
    height: 70%;
    background-color: burlywood;
}

.btm{
    width: 100%;
    height: 30%;
    background-color:gray;
}

.menu_box_btm{
        background-color: pink;
        width: 1000px;
        overflow: hidden;
        margin: 0 auto;
}