@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


body { margin: 0; 

    font-family: 'Pretendard-Regular';
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.contents_area {
    width: 100%;
    max-width: 1256px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    padding: 0 60px;
    box-sizing: border-box;
}
 

/* ----------------- */
.h_top {
    width: 100%;
    height: 80px; 
    border-bottom: 1px solid #ddd;
}

.h_top_box {
    display: flex;
    justify-content: space-between;
}
 
.h_top_L {
    display: flex;
    align-items: center;
    gap: 40px   ;
}
.nav_top > ul {
    display: flex;
}
.nav_top > ul > li {
    padding: 0 10px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}
.nav_top > ul > li:hover {
    color: #35c5f0;
}

/* 햄버거 버튼 */
.btn_ham {
    width: 50px;
    height: 50px; 
    padding: 15px;
    box-sizing: border-box;

    display: none; 
}
.line {
    width: 100%;
    height: 2px;
    background-color: #35c5f0;;
}
.line:nth-child(2) {
    margin: 7px 0;
}
.ham_pan {
    display: none;
    width: 300px;
    height: 100%;
    background-color: aqua;

    position: absolute;
    left: -300px;
    top: 0;
    z-index: 9999999999;

    transition: all 0.5s;
}
#ham_chk:checked ~ .ham_pan {
    left: 0;
}
#ham_chk {
    display: none;
}


.h_top_R {
    width: calc(100% - 410px);
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
.search_box {
    /* background: pink; */
    width: calc(100% - 340px);
    display: flex;
    height: 40px;
    align-items: center;
    margin-right: 20px;
    border: 1px solid #7b7b7b;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.txt_search {
    width: 100%;
    /* width: calc(100% - 48px); */
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 5px;
}
.h_icon_box {
    display: flex;
    align-items: center;
}
.h_top_R_R {
    display: flex;
    align-items: center;
}
.member_box {
    margin: 0 20px;
}
.member_box ul {
    display: flex;
    /* font-size: 16px; */
    font-weight: 900;
    color: #6a6a6a;
}
.member_box ul li {
    padding: 0 10px;
    position: relative; 
}
.member_box ul li:nth-child(1)::after {
    content: "";
    width: 2px;
    height: 10.5px;
    background: #6a6a6a;
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
}


.btn_write {
    display: block;
    padding: 7px 15px;
    background: #35c5f0;
    color: #fff;
    font-weight: 900;
    border-radius: 7px;

    position: relative;
}
.btn_write svg {
    transform: rotate(90deg) translateX(3px);
    margin-left: 3px;
}
.carrot {
    width: 10px;
    height: 10px;
    background: #fff;
    box-shadow: -1px -1px 1px 0px rgba(214 ,214 ,214 ,1);

    transform: translateX(-50%) translateY(10px) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 99;
}
.text_box {
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0,0,0,1);

    position: absolute;
    left: 50%;
    top: 140%;
    transform: translateX(-50%);

    user-select: none;
}
#btn_write_chk,
.ttt {
    display: none;
}
#btn_write_chk:checked ~ .btn_write .ttt {
    display: block;
}





.h_bot {
    height: 50px;
    line-height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #ddd;

}
.h_bot_container {

    display: flex;
    justify-content: space-between;

    min-width: 800px;
}
.h_bot_list {
    display: flex;
}
.h_bot_list > li {
    padding: 0 10px;
    cursor: pointer;
}
.h_bot_list > li:hover {
    color: #35c5f0;
}
#menu_rd1:checked ~ .h_top label[for="menu_rd1"],
#menu_rd2:checked ~ .h_top label[for="menu_rd2"],
#menu_rd3:checked ~ .h_top label[for="menu_rd3"] {
    color: #35c5f0;
}

.h_bot_list {
    display: none;
}
#menu_rd1:checked ~ .h_bot ul:nth-child(1),
#menu_rd2:checked ~ .h_bot ul:nth-child(2),
#menu_rd3:checked ~ .h_bot ul:nth-child(3) {
    display: flex;
}
input[name="menu_rd"] {
    display: none;
}

.search2 {
    display: none;
}


/* 본문 */
.container { 
    margin-top: 40px;
    margin-bottom: 50px;
}
.main_banner {
    display: flex;
    gap: 20px;

    font-size: 0;
    padding-bottom: 48.5%;
    position: relative;
}
.main_banner > div {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.mb_L {
    left: 0;
    width: calc(75% - 20px);
}
.txt_btn_box {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 40px;

    display: flex;
    gap: 40px; 
}
.txt_mb_L {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
}
.btn_mb_L {
    flex: 0 0 auto;
    align-self: flex-end;

    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
}
.mb_L:hover .btn_mb_L {
    background: #35c5f0;
    border: none;
}


.mb_R {
    right: 0;
    width: 25%;
}
.main_banner img {
    width: 100%;
    transition: all 0.3s;
}
.main_banner > .mb_L:hover > img {
    transform: scale(1.1);
}

.mb_R > img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.main_banner > .mb_R:hover > img {
    transform: translateX(-50%) scale(1.1);
}



/* simple_menu */
.simple_menu {
    margin: 2% 0;
}
.simple_menu ul {
    display: flex;
}

.simple_menu ul li {
    width: calc(100% / 8);
    text-align: center;
}

.simple_menu ul li img {
    width: 100%;
    margin-bottom: 10px;
}
















@media screen and (max-width: 1400px){
    .text_box { 
        left: auto;
        right: -20px;
        transform: translateX(0%);
        
    } 
    
}
@media screen and (max-width: 1024px) {
    /* .search_box {
        width: auto; 
        margin-right: 10px;
        border: none;
        padding: 0;
    }

    .txt_search,
    .camera {
        display: none;
    } */

    .search_box {
        display: none;
    }
    .search2 {
        display: block;
        margin-right: 10px;
    }


}


@media screen and (max-width: 860px) {
    .contents_area {
        padding: 0 30px;
    }
    .h_top_L {
        gap: 20px;
    }
    .h_top_R {
        width: calc(100% - 360px);
    }
}


@media screen and (max-width: 768px) {
    .contents_area {
        padding: 0;
    }
    .h_top {
        height: 50px; 
    }
    .h_top_box {
        display: block;
    }
    .nav_top,
    .member_box,
    .btn_write {
        display: none;
    }

    .btn_ham,
    .ham_pan {
        display: block;
    }
    .btn_ham {
        position: absolute;
        left: 0;
        top: 0;
    }


    .logo {
        margin: 0 auto;
        transform: translateY(10px) scale(0.6);
    }


    .h_icon_box { 
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
    }
    
}